<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Learning a New Language</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<nav class="navbar navbar-expand-lg">
  <a class="btn btn-primary" href="/" role="button">Home</a>
  <a class="btn btn-primary" href="/newcard" role="button">Add Card</a>
</nav>
<body>
